*{
  padding: 0;
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  list-style: none;

}

body{  
  background-image: url('./pexels-steve-johnson-1269968.jpg');
  background-size:cover;
}

.header{
  height: 60px;
  background-color: black;
  width:100%;
  background-size: cover;
  background: url('./166152.jpg');
  background-size: 100vw 1vh;
  background-repeat: repeat;
}

.label{
  line-height: 60px;
  margin-left:20px;
  margin-right: 20px;
  color: white;
  text-shadow: 1px 0px 5px white;
}

.App{
  height: 100vh;
}
.todo{
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  box-sizing: border-box;
  width: 85vw;
  max-width: 350px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px 1px black;
  padding: 10px;
  font-size: medium;
  transition: all 0.25s;
}
.btn{
  margin: 8px;
  box-sizing: border-box;
  width: 40vw;
  max-width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid dodgerblue;
  box-shadow: 0px 0px 5px 2px black;
  background-color: dodgerblue;
  color: aliceblue;
  transition: all 0.5s;
  
}
.input:focus{
  outline: none;
  border: 1px solid dodgerblue;
  text-shadow: 1px 0px 1px lightslategray;
  color: black;
  box-shadow: 0px 0px 4px 2px dodgerblue;
}
.btn:hover{
  text-shadow: 0px 0px 2px whitesmoke;
  box-shadow: 0px 0px 4px 1px dodgerblue;
  cursor: pointer;
  
}

.list{
  box-sizing: border-box;
  background-color: #95d89f;
  border: 1px solid white;
  width: 85vw;
  max-width: 350px;
  height: 35px;
  box-shadow: 0px 0px 8px 0px black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  font-size: medium;
  transition: all 0.25s;
  border-radius: 2px;
  text-shadow: 0px 0px 1px white;
  font-weight: 600;
  user-select:none
}

.spanElem{
  float: right;
  margin-left: 15px
}

@media (max-width:350px){
  
.label.label1{
display: none;
}
.todo{
  margin-top: 50px;
}
.list{
  font-size: small;
}
.spanElem{
  float: right; 
  margin-left:5px
}
}